* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin MyFont($fontsize, $fontweight) {
    font-size: $fontsize;
    font-weight: $fontweight;
}


a {
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #EFEFEF;

}

.container {
    width: 1400px;
    height: 3000px;
    margin: 0px 50px;
    background-color: #ffffff;

    .Header {
        .hed {
            width: 100%;
            height: 79px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            .bodylogo {
                width: 500px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }

            h2 {
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: rgba(160, 160, 160, 1);
                    letter-spacing: 1.6px;
                    font-weight: 400;
                    font-size: 32px;
                    transition: 0.4s;

                    span {
                        color: rgba(0, 0, 0, 1);
                        font-size: 32px;
                        font-weight: 700;
                        letter-spacing: 1.6px;
                        transition: 0.4s;
                    }
                }

                &:hover {

                    a {

                        color: rgba(0, 0, 0, 1);
                        font-weight: 700;
                    }

                    span {

                        color: rgba(160, 160, 160, 1);
                        font-weight: 400;
                    }
                }
            }

            >ul {
                width: 274px;
                height: 24px;
                list-style-type: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                li a {
                    text-decoration: none;
                    color: rgba(0, 0, 0, 1);
                }
            }

            >ul:nth-child(1) {
                li {
                    @include MyFont(18px, 400);

                    &:hover {
                        transition: 0.2s;
                        border-bottom: 2px solid rgba(0, 0, 0, 1);
                        @include MyFont(20px, 700);

                    }
                }
            }

            >ul:nth-child(3) {
                justify-content: space-evenly;
            }
        }

        .hedI {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;

            >div:nth-child(1) {
                width: 700px;
                height: 300px;
                background-image: url(../img/left-body.png);

                h3 {
                    color: rgba(255, 255, 255, 1);
                    font-weight: 900;
                    font-size: 40px;
                    font-style: italic;
                    margin-top: 50px;
                    margin-left: 50px;
                }

                p {
                    color: rgba(255, 255, 255, 1);
                    font-weight: 900;
                    font-size: 20px;
                    margin-left: 50px;
                    margin-top: 29px;
                    margin-bottom: 30px;
                    width: 563px;

                }

                a {
                    width: 200px;
                    height: 40px;
                    padding: 10px 25px;
                    border-radius: 16px;
                    background-color: rgba(255, 255, 255, 1);
                    color: rgba(0, 0, 0, 1);
                    font-weight: 600;
                    font-size: 16px;
                    margin-left: 50px;

                }

            }

            >div:nth-child(2) {

                width: 700px;
                height: 300px;
                background-image: url(../img/nkike-gruop.jpg);
                background-size: cover;
                cursor: pointer;
            }

            &::after {
                content: '';
                background-image: url(../img/baner.png);
                width: 100%;
                height: 49px;
                overflow: hidden;
                // display: none;


            }
        }

    }

    .Body {
        // width: 100%;

        .sectionI {
            width: 100%;
            height: 700px;
            background-image: url(../img/nike.png);

            background-size: cover;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: end;

            .nikeVid {
                width: 100%;

                // height: auto;
                video {
                    width: 100%;
                    height: auto;
                }
            }

            .secbox {
                display: flex;
                justify-content: space-between;

                position: relative;
                top: -53px;
                width: 602px;
                height: 273px;
                background-color: rgba(239, 239, 239, 1);
                box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.25);
                border-radius: 18px;

                >div {
                    h3 {
                        font-size: 48px;
                        font-weight: 700;
                        font-style: italic;
                        color: rgba(255, 57, 57, 1);
                        margin-left: 66px;
                        margin-top: 50px;
                    }

                    p {
                        position: absolute;
                        width: 220px;
                        font-weight: 400;
                        font-size: 20px;
                        letter-spacing: 1.6px;
                        margin-left: 66px;
                        margin-top: 10px;
                        color: rgba(0, 0, 0, 1);

                    }
                }

                >figure {
                    position: relative;
                    left: 45px;
                    bottom: 26px;

                }

                >span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    cursor: pointer;
                    left: 100px;
                    top: 199px;
                    width: 55px;
                    height: 55px;
                    background-color: rgba(255, 255, 255, 1);
                    border-radius: 35px;

                    &::before {
                        content: url(../img/flash.png);
                    }
                }
            }

        }

        .sectionII {
            .texI {
                width: 100%;
                height: 537px;
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: center;

                h4 {
                    margin-top: 70px;
                }

                h4,
                h5 {
                    font-size: 40px;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 1);
                }

                h3 {
                    font-size: 80px;
                    font-weight: 900;
                    color: rgba(0, 0, 0, 1);
                    font-style: italic;
                }
            }

            .slide {
                .slidTx {
                    display: flex;
                    align-items: center;

                    justify-content: space-between;
                    width: 100%;
                    height: 50px;
                    margin-top: 100px;
                    margin-bottom: 35px;

                    h3 {
                        font-size: 40px;
                        font-weight: 700;
                        margin-left: 15px;
                    }

                    .btn {
                        width: 150px;
                        height: 55px;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;

                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 50px;
                            height: 50px;
                            border-radius: 35px;
                            background-color: rgba(245, 245,
                                    245, 1);
                            transition: 0.4s;

                            &:hover {
                                background-color: rgba(198, 198, 198, 1);

                            }
                        }




                    }
                }

                .slidePt {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;

                    .mySlid {
                        display: flex;
                        flex-direction: column;
                        width: 392px;
                        height: 580px;
                        border-radius: 18px;
                        background-color: #EFEFEF;
                        box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.25);
                        position: relative;
                        top: 0px;
                        transition: 0.5s;

                        &:hover {
                            top: -5px;
                            scale: (1.02);
                            cursor: pointer;

                        }

                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 55px;
                            height: 55px;
                            border-radius: 35px;
                            background-color: rgba(255, 255, 255, 1);
                            position: absolute;
                            bottom: 30px;
                            right: 30px;

                        }

                        &::after {
                            position: absolute;
                            content: url(../img/NIKE-back.png);
                            z-index: 10;
                            left: 35%;
                            top: 16%;


                        }

                        >figure {
                            width: 100%;
                            height: 50%;
                            z-index: 100;
                            justify-content: center;
                            display: flex;
                            align-items: center;
                        }

                        >div {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            padding-left: 50px;
                            width: 100%;
                            height: 50%;

                            bottom: 120px;
                            left: 0;

                            h2 {

                                font-size: 40px;
                                font-weight: 700;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }

        .sectionIV {
            background-color: #ffffff;

            h2 {
                font-size: 40px;
                font-weight: 700;
                margin-top: 100px;
                margin-left: 50px;
            }

            .phot {
                display: flex;
                flex-wrap: wrap;
                overflow: hidden;

                .textCh {
                    width: 50%;
                    height: 500px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h3 {
                        font-weight: 700;
                        font-size: 36px;
                        font-style: italic;
                        letter-spacing: 10.8px;
                    }
                }

                .photCh {
                    width: 50%;
                    height: 570px;
                }

                .photoChn {
                    display: flex;
                    justify-content: right;
                }
            }
        }

        .sectionIIV {
            background-color: #ffffff;

            h3 {
                font-size: 40px;
                font-weight: 900;
                font-style: italic;
                display: flex;
                justify-content: center;
                padding-top: 100px;
                margin-bottom: 50px;
            }

            .secIIV {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;

                .boxIIV {
                    width: 606px;
                    height: 272px;
                    border-radius: 18px;
                    background-color: rgba(239, 239, 239, 1);
                    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.25);
                    display: flex;

                    figure {
                        width: 50%;
                        height: 300px;
                    }

                    div {
                        width: 50%;
                        height: 300px;
                        margin-left: 48px;

                        h4 {
                            font-size: 30px;
                            font-weight: 700;
                            color: rgba(255, 57, 57, 1);
                            margin-top: 51px;

                            span {
                                font-size: 24px;
                                font-weight: 700;
                            }
                        }

                        p {
                            font-size: 20px;
                            font-weight: 400;
                            margin-top: 20px;
                        }

                        a {
                            width: 180px;
                            height: 54px;
                            background-color: rgba(0, 0, 0, 1);
                            color: rgba(255, 255, 255, 1);
                            font-size: 20px;
                            font-weight: 400;
                            padding: 15px 38px;
                            border-radius: 16px;
                            position: relative;
                            top: 58px;
                        }
                    }


                }

            }

            .boxnIIV {
                width: 100%;
                height: 324px;
                background-image: url(../img/Limg.png);
                margin-top: 160px;
                position: relative;

                .moreNike {
                    position: absolute;
                    top: -60px;
                    left: 50px;
                    bottom: 325px;

                    h2 {
                        font-size: 40px;
                        font-weight: 700;
                    }
                }

                .yourTex {
                    margin-left: 50px;
                    display: flex;
                    flex-direction: column;
                    align-items: start;

                    h3 {
                        font-family: 'Montserrat', sans-serif;
                        font-size: 40px;
                        font-weight: 900;
                        font-style: italic;
                        color: rgba(255, 255, 255, 1);
                        width: 309px;
                        margin-top: 44px;
                        margin-bottom: 25px;

                    }

                    p {
                        font-size: 20px;
                        font-weight: 400;
                        color: rgba(255, 255, 255, 1);
                        width: 446px;

                        span {
                            font-weight: 700;
                        }
                    }

                    a {
                        color: rgba(0, 0, 0, 1);
                        padding: 10px 46px;
                        font-weight: 400;
                        font-size: 16px;
                        background-color: rgba(255, 255, 255, 1);
                        border-radius: 16px;
                        margin-top: 25px;

                    }

                }
            }
        }

    }

    .foter {
        width: 100%;
        height: 390px;
        background-color: rgba(0, 0, 0, 1);
        display: flex;

        .menuFoter {
            width: 50%;
            height: 390px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;

            h5 {
                color: #EFEFEF;
                font-weight: 300;
            }

            .mymenufoter {
                width: 100%;
                display: flex;
                justify-content: space-evenly;


                ul {
                    height: 241px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    list-style-type: none;


                    li a {
                        color: #7e7e7e;
                        font-size: 12px;
                        font-weight: 400;
                        transition: 0.2s;

                        &:hover {
                            font-weight: 500;
                            color: white;
                        }
                    }

                    #first {
                        color: white;
                    }
                }

                ul:nth-of-type(1) {
                    li a {
                        color: white;
                    }
                }
            }

        }

        .icoFoter {


            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            ul {
                display: flex;
                justify-content: space-evenly;
                width: 250px;
                list-style-type: none;
            }

            .boxfot {
                width: 650px;
                height: 200px;
                border: 2px solid white;
                color: #EFEFEF;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .Nike {
                    width: auto;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    li a {
                        color: #EFEFEF;
                        transition: 0.2s;

                        &:hover {
                            font-size: 20px;
                        }
                    }

                }
            }
        }
    }

}